<ion-modal-view view-title="Promoções" style="height:100%;">
    <ion-header-bar style="background-color:#b71c1c;">
        <h3 class="title-modal">Comprei cerveja</h3>
        <a href="" data-ng-click="closeModal()"><i class="icon ion-close close"></i></a>
    </ion-header-bar>
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="list">
            <label class="item item-input">Cerveja</label>
            <label class="item item-input">
                <select name="repeatSelect" id="repeatSelect" ng-model="promocao.cerveja">
                  <option ng-repeat="cerveja in cervejas | orderBy:'title'" value="{{cerveja.title}}">{{cerveja.title}}</option>
                </select>
            </label>
            <!-- <label class="item item-input">Estabelecimento</label> -->
            <!-- <label class="item item-input">
                <input type="text" placeholder="Local da compra" data-ng-model="promocao.lat">
            </label> -->
            <label class="item item-input">Preço</label>
            <label class="item item-input">
                <input type="number" placeholder="Preço da unidade" data-ng-model="promocao.preco">
            </label>
        </div>
        <center>
            <button class="button button-assertive" data-ng-click="salvarPromocao(promocao_pos)">
                Criar
            </button>
        </center>
    </ion-content>
</ion-modal-view>
