<ion-view view-title="Atividades">
  <ion-content>
    <ion-list>

    <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="(id,atividade) in atividades" type="item-text-wrap" href="#/app/atividades">
       
        <h2>{{atividade.descricao}}</h2>
        
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="removeAtividade(id)">
          Delete
        </ion-option-button>
      </ion-item>
      <!-- <ion-item ng-repeat="atividade in atividades" href="#/app/atividades">
        {{atividade.descricao}}
      </ion-item> -->
    </ion-list>
  </ion-content>
  <ion-footer-bar>
    <input ng-model='label' type='text' id='labelInput'
           placeholder='Digite uma nova atividade...' />
    <!--  <input ng-model='cost' type="number" id="costInput" placeholder='$' /> -->
    <button class="button icon-left ion-plus" ng-click="addAtividade(atividade)">Add</button>
  </ion-footer-bar>
</ion-view>
 
 <!-- href="#/app/atividades/{{atividade.id}}" -->