<div class="list list-inset">
    <label class="item item-input">
        <input type="text" placeholder="Categoria" data-ng-model="atividade.categoria">
    </label>
    <label class="item item-input">
        <input type="text" placeholder="Descrição" data-ng-model="atividade.descricao">
    </label>
    <div class="item range">
        <i class="icon ion-android-remove"></i>
        <input type="range" min="0" max="10" name="Prioridade" data-ng-model="atividade.prioridade">
        <i class="icon ion-android-add"></i>
    </div>
</div>
