<ion-view view-title="Início">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background: url('img/profile.jpg') center;background-size: cover;">
            <div class="content">
                <div class="avatar" style="background: url('{{usuario.img}}') #FFF; background-size: cover; box-shadow: 0px 0px 10px #fff;"></div>
                <h3><a class="light">{{usuario.nome}}</a></h3>
                <h4>Cervejeiro</h4>
            </div>
        </div>
        <div class="tabs bar-energized tabs-icon-top static">
            <a data-ng-click="toggle('cervejas')" class="tab-item">
                <i class="icon ion-beer"></i> Cervejas
            </a>
            <a data-ng-click="toggle('favoritas')" class="tab-item">
                <i class="icon ion-star"></i> Favoritas
            </a>
        </div>
        <div data-ng-show="isTabAtual('cervejas')" data-ng-include="'templates/partials/cervejas.html'" data-ng-controller="CervejasCtrl"></div>
        <div data-ng-show="isTabAtual('favoritas')" data-ng-include="'templates/partials/favoritas.html'" data-ng-controller="CervejasCtrl"></div>
    </ion-content>
</ion-view>