<ion-view view-title="Perfil">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background: url('img/profile.jpg') center;background-size: cover;">
            <div class="content">
                <div class="avatar" style="background: url('img/user-logo.png') #FFF; background-size: cover; box-shadow: 0px 0px 10px #fff;"></div>
                <h3><a class="light">Meu Perfil</a></h3>
                <h4>Para onde vai meu tempo?</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Atividades
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-clock"></i> Tempo Investido
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-pie-graph"></i> Relatórios
            </a>
        </div>
        <h4 class="content padding double-padding-x">Atividades Recentes</h4>
        <div class="list" >
            <a class="item item-avatar item-icon-right" data-ng-repeat="atividade in atividades">
                <img src="img/activity2.png">
                <h2>{{atividade.categoria}}</h2>
                <p>{{atividade.descricao}}</p>
                <i class="icon ion-android-close" data-ng-click="removeAtividade(atividade)"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
