<div class="list">
    <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Digite o nome da Cerveja" data-ng-model="search">
    </label>
</div>
<div class="item card-item" data-ng-repeat="cerveja in cervejas  | orderBy:title | filter:search" data-ng-show="entityLoaded" data-ng-click="review(cerveja)">
    <div class="card bar-dark" data-ng-show="cerveja.title">
        <div class="item item-avatar item-text-wrap">
            <span data-ng-show="cerveja.imagem" class="avatar" style="background-image: url(data:image/png;base64,{{cerveja.imagem}});"></span>
            <span data-ng-hide="cerveja.imagem" class="avatar" style="background-image: url('img/activity2.png');"></span>
            <strong>{{cerveja.title}}</strong>
            <div class="card-footer text-right">
                <i class="icon ion-star favorite" data-ng-click="favoritaCerveja(cerveja)" data-ng-show="entityLoaded" data-ng-class="{energized: isFavorita(cerveja)}"></i>
                <div class="pull-left">
                    <i data-ng-show="cerveja.abv" class="icon ion-beer" style="margin-right: 5px;"></i>{{cerveja.abv}}
                    <i class="icon ion-earth" style="margin-right: 5px;"></i>{{countries[cerveja.country_id].name}}
                </div>                
            </div>
        </div>
    </div>
</div>
<div data-ng-hide="entityLoaded">
    <p>
        <center>
            <ion-spinner class="spinner-energized"></ion-spinner>
        </center>
    </p>
</div>