<div class="item card-item" class="animate-fade-slide-in" data-ng-repeat="cerveja in cervejasFavoritas  | orderBy:title" data-ng-show="entityLoaded">
    <div class="card bar-dark">
        <div class="item item-avatar item-text-wrap">
            <span data-ng-show="cerveja.imagem" data-ng-click="addTipo(cerveja)" class="avatar" style="background-image: url(data:image/png;base64,{{cerveja.imagem}});"></span>
            <span data-ng-hide="cerveja.imagem" data-ng-click="addTipo(cerveja)" class="avatar" style="background-image: url('img/activity2.png');"></span>
            <strong>{{cerveja.title}}</strong>
            <div class="card-footer text-right">
                <i class="icon ion-android-delete favorite assertive" data-ng-click="desfavoritaCerveja(cerveja)" data-ng-show="entityLoaded"></i>
                <div class="pull-left">
                    <i data-ng-show="cerveja.tags[0]" class="icon ion-beer" style="margin-right: 5px;"></i>{{cerveja.abv}}
                    <i class="icon ion-earth" style="margin-right: 5px;"></i>{{countries[cerveja.country_id].name}}
                </div>
            </div>
        </div>
    </div>
</div>
<div data-ng-hide="entityLoaded">
    <p>
        <center>
            <ion-spinner class="spinner-energized"></ion-spinner>
        </center>
    </p>
</div>
