<div class="item card-item" class="animate-fade-slide-in" data-ng-repeat="promocao in promocoes  | orderBy:orderByPriority">
    <div class="card light-blue-bg ink-dark">
        <div class="item item-avatar item-text-wrap">
            <span data-ng-show="promocao.imagem" data-ng-click="" class="avatar" style="background-image: url(data:image/png;base64,{{promocao.imagem}});"></span>
            <span data-ng-hide="promocao.imagem" data-ng-click="" class="avatar" style="background-image: url('img/activity2.png');"></span>
            <strong>{{promocao.cerveja}}</strong> | {{promocao.preco | currency : 'R$ '}}
            <div>
              por <i>{{promocao.user.nome}}</i>
            </div>
            <strong><center>{{promocao.local}}</center></strong>
            <div class="card-footer text-right">
                <div class="text-left"> 
                      Avaliações: {{promocao.numAvaliacoes}} <div star-rating ng-model="promocao.avaliacaoMedia" object="promocao" max="5" readonly="true"></div>
                      Minha Avaliação: <div star-rating ng-model="promocao.minhaAvaliacao" object="promocao" max="5" on-rating-select="saveRating"></div>
                        
                </div>
                <i class="icon ion-android-delete ink positive delete" data-ng-click="removePromocao(promocao)"></i>
            </div>
        </div>
    </div>
</div>
