/* General
==================================*/

h1 {
    color: #FFF;
    text-shadow: 2px 2px 2px #000;
    font-size: 42px;
    opacity: 0.6;
}


/* Utilities
==================================*/

.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/

.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}


/* Login
==================================*/

.app-icon {
    opacity: 0.9;
    background: url('../img/icon.png') #FFF center;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid #FFF;
    height: 125px;
    margin: auto;
    width: 125px;
    box-shadow: 0 0 50px #FFF;
}

.social-login {
    position: fixed;
    bottom: 0;
}


/* Modal
==================================*/

.title-modal {
    bottom: 0;
    font-family: robotodraft;
    font-size: 17px;
    color: #FFF;
    left: 16px;
    position: absolute;
}

.close {
    font-family: robotodraft;
    font-size: 20px;
    color: #FFF;
    top: 30%;
    right: 16px;
    position: absolute;
}

.delete {
    font-size: 20px;
    color: #b71c1c;
}


/* Charts
==================================*/

.chart-title {
    font-family: robotodraft;
    font-size: 17px;
    color: #FFF;
}

.login-title {
    font-family: robotodraft;
    font-size: 17px;
    color: #000;
}

.teal-bg {
    background: #004D40;
}

.grey-bg {
    background: #E0E0E0;
}

.blue-bg {
    background: #0D47A1;
}

.light-green-bg {
    background: #DCEDC8;
}

.light-blue-bg {
    background: #C5CAE9;
}

/* Style Select Field */
select {
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  padding: 4px 0;
  font-size: 16px;
  color: #000;
  border: none;
  border-bottom: 1px solid rgba(0,0,0, 0.12);
}

/* Remove focus */
select:focus {
  outline: none;
}

/* Hide label */
.mdl-selectfield label {
  display: none;
}

/* Use custom arrow */
.mdl-selectfield select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.mdl-selectfield {
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  position: relative;
}
.mdl-selectfield:after {
  position: absolute;
  top: 0.75em;
  right: 0.5em;
  /* Styling the down arrow */
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: .25em solid transparent;
  border-right: .25em solid transparent;
  border-top: 0.375em solid rgba(0,0,0, 0.12);
  pointer-events: none;
}
